<div class="jumbotron text-center">
  <h1>Instagram Reel Download</h1>
</div>

<div class="container">
  <div class="col-md-4">
    <p>Copy & paste Instagram reel link to download from here</p>
    <form #reelPost="ngForm" (ngSubmit)="onSubmit(reelPost.value)">
      <div class="form-group">
        <label for="reel">Reel Link:</label>
        <input
          type="text"
          name="url"
          class="form-control"
          placeholder="E.g., https://www.instagram.com/reel/CP4_gXYIup1/?utm_medium=copy_link"
          id="reel"
          ngModel
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="container" *ngIf=show>
      <h2>The Download Link is below:</h2>
      <br>
      <a href="{{response.result.video_url}}" alt="Reel">Click 🤞 to download!</a>
  </div>
</div>
